<h1><%= data.title %></h1>
<article class="article">
    <%= data.content %>
    <!-- Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
</article>

<h2>Comments:</h2>
<!-- Formularz dodawania komentarza -->
<form action="/post/<%= data._id %>/comments" method="post">
  Username: <input type="text" name="username"><br>
  Comment: <textarea name="comment"></textarea><br>
  <input type="submit" value="Submit">
</form>

<ul>
  <% data.comments.forEach(function(comment) { %>
    <li>
      <strong><%= comment.username %>:</strong> <%= comment.comment %>
      <!-- Formularz dodawania odpowiedzi na komentarz -->
      <form action="/post/<%= data._id %>/comments/<%= comment._id %>/replies" method="post">
        Name: <input type="text" name="name"><br>
        Reply: <textarea name="reply"></textarea><br>
        <input type="submit" value="Submit">
      </form>

  <!-- Lista odpowiedzi -->
  <% if (comment.replies.length > 0) { %>
    <ul>
      <% comment.replies.forEach(function(reply) { %>
        <li><strong><%= reply.name %>:</strong> <%= reply.reply %></li>
      <% }); %>
    </ul>
  <% } %>
</li>

<% }); %>
</ul>
</body>
</html>



<!-- 
mam taki zapis w bazie danych mongodb:
{ "_id": ObjectId("567"),
"title": "title",
"content": "content",
"comments": [{
"_id": ObjectId("89"),
"username": "user",
"comment": "comment",
"replies": [{
"_id": ObjectId("99"),
"name": "name",
"reply": "reply"
}]}]}

zbuduj dla mnie routing, model i formularz do umieszczania tych danych w bazie, a także pokaż jak wyświetlać komentarze i odpowiedzi
 -->
